.container {
  width: 100%;
  overflow-x: auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 16px;
}

.item_list {
  display: flex;
  column-gap: 24px;
}

.item {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  text-align: center;
}

.item_title {
  font-weight: 700;
  text-align: left;
}

.item > span {
  white-space: nowrap;
  display: block;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item_title >span {
  align-items: flex-start;
}

.unit {
  font-size: 12px;
  font-weight: 400;
  display: block;
}
